.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-meme {
  width: 70%;
  height: 100%;
}

.contenedor-meme {
  position: relative;
  text-align: center;
  color: white;
}

.linea1, .linea2 {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  position: absolute;
  font-size: 3em;
  left: 50%;
}

.linea1 {
  top: 15%;
  transform: translate(-50%, -50%);
}

.linea2 {
  bottom: 0%;
  transform: translate(-50%, -50%);
}